/* Color de fondo */
* {
  background-color: hsl(217, 54%, 11%);
  color: white;
  text-align: center;
}
/*Carta ETH*/
.principal-card {
  display: inline-block;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding: 10px;
  padding-top: 20px;
  padding-bottom: 1px;
  margin-top: 10%;
  height: 500px;
  width: 350px;
  background-color: hsl(216, 50%, 16%);
  border-radius: 10px;
}

.imagen {
  width: 90%;
  height: 60%;
  border-radius: 5px;
  display: inline-block;
}

.div-title {
  width: 200px;
  height: 30px;
  margin: auto;
  background-color: hsl(216, 50%, 16%);
}
.div-paragraph {
  margin: auto;
  width: 250px;
  height: 20px;
  margin-bottom: 20px;
}
p {
  background-color: hsl(216, 50%, 16%);
  font-family: "Outfit", sans-serif;
  font-weight: 400;
}
h2 {
  background-color: hsl(216, 50%, 16%);
  font-family: "Outfit", sans-serif;
  font-weight: 400;
}
span {
  background-color: hsl(216, 50%, 16%);
  font-family: "Outfit", sans-serif;
  font-weight: 400;
}
